[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
seaborn = "*"
matplotlib = "*"
tqdm = "*"
statsmodels = "*"
mlflow = "*"
scikit-optimize = "*"
xgboost = "*"
polars = "*"
shap = "*"

[dev-packages]

[requires]
python_version = "3.11"
